.postscript {
  min-height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e2e2e2;
  font-family: 'Cormorant-Light', serif;
  font-size: 1.25rem;
  line-height: 1.5rem;
  @include small {
    font-size: 1rem;
    line-height: 1.25rem;
  }

  .thumbnail-image {
    width: 50%;
    @include medium {
      width: 80%;
    }
    img {
      max-width: 500px;
      display: block;
      margin: 0 auto;
    }
  }

  h2 {
    border-bottom: 1px #e2e2e2 solid;
    font-size: 2.5rem;
    @include small {
      font-size: 2rem;
    }
    margin-bottom: 1.5rem;
    margin-top: 5rem;
  }
}
