.entry-container {
  width: 100%;
  border-radius: 3px;
  position: relative;
  margin-top: 10px;
  font-family: 'Cormorant-Light', sans-serif;

  .entry-date {
    text-align: center;
    line-height: 34px;
    width: 36px;
    height: 36px;
    margin-left: -18px;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }

  @media (max-width: $small-screen-breakpoint) {
    .entry-date {
      left: 0;
    }
  }

  .entry-content {
    font-size: 2vmax;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    padding: 1vmax;
    width: 42%;

    .entry-text {
      line-height: 2.3vmax;
    }

    .entry-day {
      font-size: 2.5vmax;
      padding-bottom: 10px;
    }
  }
}



.left-entry {
  .entry-date {
    background-color: #e4f2ff;
  }
}

.right-entry {
  .entry-date {
    background-color: #ffdede;
  }
  .entry-content {
    float: right;
  }
  @media (max-width: $small-screen-breakpoint) {
    .entry-content {
      float: left;
    }
  }
}
