.entry-container {
  position: relative;
  margin-top: 10px;
  font-family: 'Cormorant-Light', sans-serif;

  .entry-date {
    font-size: 2vmax;
    text-align: center;
    line-height: 5vmax;
    width: 5vmax;
    height: 5vmax;
    margin-left: -2.5vmax;
    position: absolute;
    left: 50%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  }



  .entry-content {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    padding: 1vmax;
    width: 42%;

    .entry-text {
      line-height: 2.3vmax;
      font-size: 1.5vmax;
    }

    .entry-day {
      font-size: 2vmax;
      padding-bottom: 10px;
    }
  }
}

.left-entry {
  .entry-date {
    background-color: #e4f2ff;
  }
}

.right-entry {
  .entry-date {
    background-color: #ffdede;
  }
  .entry-content {
    float: right;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .entry-container {
    .entry-date {
      left: 0;
    }

    .entry-content {
      width: 90%;
      margin-left: 5vmax;
      margin-bottom: 2vmax;

      .entry-text {
        font-size: 3vmax;
        line-height: 3vmax;
      }

      .entry-day {
        font-size: 4vmax;
      }
    }
  }

  .right-entry .entry-content {
    float: left;
  }
}
