.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: 'DIN-Medium', sans-serif;
  text-transform: uppercase;

  .main-image {
    background: url(../images/gallipoli-charge.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  h1, h2 {
    display: flex;
    justify-content: center;
    color: #000;
    width: 100%;
  }

  h1 {
    font-size: 6vmax;
    font-weight: bold;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 3.5vmax;
    padding-top: 10px;

    color: #da0c0c;
    animation: fadeToBlack 5s linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .arrow-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    padding-top: 10px;
  }

  .arrow-down {
    width: 0;
    height: 0;
    border-left: 3vmax solid transparent;
    border-right: 3vmax solid transparent;
    border-top: 3vmax solid #000;
    transition: border-top-color 0.5s linear;
  }

  .arrow-wrapper:hover {
    cursor: pointer;
    .arrow-down {
      border-top-color: #da0c0c;
    }
  }
}

@keyframes fadeToBlack {
  0% {
    color: #da0c0c;
  }
  100% {
    color: black;
  }
}
