@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/din-medium.woff');
}
@font-face {
  font-family: 'Cormorant-Light';
  src: url('../fonts/cormorant-light.woff');
}
@font-face {
  font-family: 'Cormorant-Bold';
  src: url('../fonts/cormorant-bold.woff');
}

@import 'reset';
@import 'media-queries';
@import "../components/app/index";
@import "../components/home/index";
@import "../components/intro/index";
@import "../components/postscript/index";
@import "../components/entry-list/index";
@import "../components/entry/index";
@import "../components/thumbnail-image/index";
@import "../components/lightbox/index";
@import "../components/text-section/index";
