@import 'reset';
@font-face {
  font-family: 'DIN-Medium';
  src: url('../fonts/DIN-Medium.ttf');
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: 'DIN-Medium', sans-serif;
  text-transform: uppercase;

  .main-image {
    background: url(../images/gallipoli-charge.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  h1, h2 {
    display: flex;
    justify-content: center;
    color: #000;
    width: 100%;
  }

  h1 {
    font-size: 6vmax;
    font-weight: bold;
    padding-bottom: 10px;
  }

  h2 {
    font-size: 3.5vmax;
    padding-top: 10px;

    opacity: 0;
    animation: increaseOpacity 2s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  .arrow-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    padding-top: 10px;

    width: 0;
    height: 0;
    border-left: 3vmax solid transparent;
    border-right: 3vmax solid transparent;
    border-top: 3vmax solid #000;
    transition: border-top-color 0.5s ease;

    opacity: 0;
    animation: increaseOpacity 2s ease-in-out;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }

  .arrow-down:hover {
    cursor: pointer;
    border-top-color: red;
  }
}

.entry-container {
  background-color: red;
  width: 100%;
  height: 100vh;
}

@keyframes increaseOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
