.lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: zoom-out;

  img {
    position:fixed;
    width: 105vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #FFF;
    border-radius: 8px;
  }
}

@media (max-width: $small-screen-breakpoint) {
  .lightbox img {
    width: 95vw;
  }
}
