/*html {
  background: url(../images/gallipoli-charge.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

span {
  color: red;
}
