.entry-list {
  position: relative;
  padding: 3.5rem;
  @include medium {
    padding: 2.5rem;
  }
  @include small {
    padding: 1.5rem;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .version-buttons {
    cursor: pointer;
    padding-bottom: 14px;
    @include medium {
      font-size: 0.85rem;
    }
    @include small {
      font-size: 0.75rem;
      text-align: center;
    }

    span {
      padding: 5px;
      border: 1px solid;
      margin: 0 3px;
      border-radius: 6px;
      border-color: #ccc;
    }

    .active:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }

    .greyed-out {
      color: #c1c1c1;
      cursor: default;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: #e2e2e2;
    margin-top: 10rem;
    @include medium {
      left: 2.5rem;
    }
    @include small {
      left: 1.5rem;
    }
  }
}

.loading {
  width: 100%;
  text-align: center;
  font-size: 1rem;

  .sk-circle-wrapper {
    margin: 0 auto;
  }

  span {
    display: block;
    padding: 14px 0;
  }
}
